01_xml/src/main/webapp/employees.xsd

<?xml version="1.0" encoding="euc-kr" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"> 
	<element name="종업원들">    
		<complexType>
			<sequence>
				<element name="종업원" maxOccurs="unbounded">
					<complexType>
						<sequence> 
							<element name="이름" type="string"/>
							<element name="자식이름" type="string"  minOccurs="0" maxOccurs="10"/>
						</sequence>
					</complexType>
				</element>
			</sequence>   
		</complexType>
	</element> 
</schema>

